@charset "utf-8";
  .welcome-container {
    position: relative;
    max-width: fit-content;
    text-align: left;
    font:  Comic;
    margin: 0rem 0rem 0rem -5rem;
    line-height: 4rem;
    margin: 0;
    top: 10rem;
    padding:0;
    
}
.text-1 {
    font-size: 4rem;
    margin: 0rem;
    font-weight: 200;
    letter-spacing: -0.03em;
    color:rgb(179, 16, 16);
    line-height: 1.0;
    max-width: 100%;
    padding-left: 1vw;
}

 
.text-2{
font-size: 3rem;  
margin: 0rem;
margin-top: 0rem;
font-weight: 200;
line-height: 3rem;
color:rgb(252, 191, 191);
}    