{% load static %}
<html> 
<head>
  <link href="{% static 'main.css' %}" rel="stylesheet" type="text/css">
  </head>
 
  <body>
    <section id = welcome> 
        <div class="welcome-container">
         
               <h1>
               <p class="text-1">Hello! from template page at pages.html</p> <br>
               </h1>
               <p class="text-2"> welcome</p> <br>
               <p class="subtitle">   </p>
             </div>
             
        
        <div class="background-div"></div>
        </section>

  </body>
  </html>
  